{% load staticfiles bootstrap4 peregrine wagtailsettings_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
{% spaceless %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {# <link rel="icon" href="{% static "favicon.ico" %}"> #}
    <title>{% block site_title %}{% settings_value 'WAGTAIL_SITE_NAME' %}{% endblock site_title %}</title>
    {% block extra_head_top %}
    {% endblock extra_head_top %}

    {% block head_js %}
    {% endblock head_js %}

    {% block head_css %}
        {% bootstrap_css %}
        <link href="{% static 'peregrine/peregrine-style.css' %}" rel="stylesheet">
    {% endblock head_css %}

    {% block extra_head_bottom %}
    {% endblock extra_head_bottom %}
    {% if settings.peregrine.PeregrineSettings.post_number_rss %}
        <link rel="alternate" type="application/rss+xml" title="{% settings_value 'WAGTAIL_SITE_NAME' %} - RSS" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'peregrine-rss' %}">
    {% endif %}

    {% if request.user.is_staff %}
        {% load wagtailuserbar %}
        {% wagtailuserbar 'bottom-right' %}
    {% endif %}
</head>
{% endspaceless %}
<body role="document" id="page-top" class="index fixed-nav">
<!--[if lte IE 11]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser.
  Please <a href="https://browsehappy.com/">upgrade your browser</a>
  to improve your experience.
  </p>
<![endif]-->
{% block top_nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
	        {% block navbar-logo %}
                {% settings_value 'WAGTAIL_SITE_NAME' %}
		    {% endblock navbar-logo %}
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
        		    {% block navbar-left %}{% endblock navbar-left %}
                    {% top_menu_posts %}
        		    {% block navbar-center %}{% endblock navbar-center %}
                    {% get_site_root as site_root %}
                    {% top_menu parent=site_root calling_page=self %}
        		    {% block navbar-right %}{% endblock navbar-right %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock top_nav %}

{% block content %}
{% endblock content %}

{% block footer %}
    <br clear="all">
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <span class="navbar-text">
	        {% block footer-copyright %}
                Copyright &copy; {% now "Y" %}, {% settings_value 'WAGTAIL_SITE_NAME' %} 
		    {% endblock footer-copyright %}
            </span>
        </div>
    </nav>
    {% block footer_js %}
        {% bootstrap_javascript jquery='full' %}
    {% endblock footer_js %}
{% endblock footer %}
</body>
</html>
