{% extends 'peregrine/base.html' %}
{% load wagtailimages_tags peregrine %}

{% block site_title %}{{ page.title }} - {% settings_value 'WAGTAIL_SITE_NAME' %}{% endblock site_title %}

{% block head_meta %}
    <meta property="og:title" content="{{ page.title }} - {% settings_value 'WAGTAIL_SITE_NAME' %}">
    <meta property="og:description" content="{{ page.excerpt|striptags|safe }}">

    {% settings_value 'WAGTAIL_SITE_URL' as url_exists %}
    {% if url_exists %}
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
    {% endif %}

    {% if page.header_image %}
        {% image page.header_image original as header_image %}

        {# The ugly if statement below handles relative URLs #}
        <meta property="og:image" content="{% if header_image.url|slice:'0:4' != 'http' %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% endif %}{{ header_image.url }}">
        <meta name="twitter:card" content="summary_large_image">
    {% else %}
        <meta name="twitter:card" content="summary">
    {% endif %}
{% endblock head_meta %}

{% block content %}
    {% block page_header %}
        {% if page.header_image %}
            {% image page.header_image original as header_image %}
            <header style="background-image: url({{ header_image.url }}); height=400;">
                <div class="container">
                    <div class="intro-text text-light">
                        <div class="intro-heading">{{ page.title }}</div>
                        <div class="intro-lead-in">{{ page.excerpt|safe }}</div>
                    </div>  
                    {% for category in page.categories.all %}
                        <a class="btn btn-info btn-small" href="{% url 'posts-category' category.name|lower %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </header>
        {% else %}
            <div class="container">
                <div class="jumbotron">
                    <h1>{{ page.title }}</h1>
                    <p class="lead">{{ page.excerpt|safe }}</p>
                    {% block jumbotron_bottom %}
                    {% endblock jumbotron_bottom %}
                    {% for category in page.categories.all %}
                        <a class="btn btn-info btn-small" href="{% url 'posts-category' category.name|lower %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div class="container">
        {% endif %}
    {% endblock page_header %}

    <div class="container">
        {{ page.body }}
    </div class="container">
{% endblock content %}


