{% extends 'peregrine/base.html' %}

{% block content %}
    {% if author or category %}
        <div class="container">
            <div class="jumbotron">
                <h1>
                    {% if author %}
                        Posts by <strong>{{ author }}</strong>
                    {% elif category %}
                        Posts in the <strong>{{ category }}</strong> category
                    {% endif %}
                </h1>
            </div>
        </div class="container">
    {% endif %}
    <div class="container">
        {% if posts %}
            <div class="card-columns">
                {% for post in posts %}
                    <div class="card">
                        <div class="card-header"><h6><a href="{{ post.url }}">{{ post.title }}</a></h6></div>
                        <div class="card-body">
                            <h6 class="card-title">
                                by
                                {% for author in post.authors.all %}
                                    {% if not forloop.first %}
                                    , 
                                    {% endif %}
                                    <a href="{% url 'posts-author' author.username %}">{{ author.username }}</a>
                                {% empty %}
                                    Nobody
                                {% endfor %}
                                on {{ post.post_date }}
                            </h6>
                            <p class="card-text">
                                {{ post.excerpt|safe }}
                            </p>
                            <h6>
                                <a href="{{ post.url }}">Read more...</a>
                            </h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# Pagination #}
            {% if is_paginated %}
                <nav class="float-right">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <a class="page-link" href="/?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                        {% endif %}
                        {% for page_num in "x"|ljust:page_obj.paginator.num_pages %}
                            {% if forloop.counter == page_obj.number %}
                                <li class="page-item active"><span class="page-link">{{ forloop.counter }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="/?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a class="page-link" href="/?page={{ page_obj.next_page_number }}">Next</a>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% else %}
            <h2 class="heading">No Posts Found</h2>
            <p>There aren't any live posts yet!</p>
        {% endif %}
    </div class="container">
{% endblock content %}
