{% extends 'peregrine/base.html' %}

{% block content %}
    <div class="container">
        {% if posts %}
            {% for post in posts %}
                <h2 class="heading">{{ post.title }}</h1>
                <p>
                by
                {% for author in post.authors.all %}
                    {% if not forloop.first %}
                    , 
                    {% endif %}
                    {{ author.username }}
                {% empty %}
                    Nobody
                {% endfor %}
                on {{ post.post_date }}
                </p>
                {{ post.excerpt|safe }}
                <p>
                    <a href="{{ post.url }}">Read more...</a>
                </p>
            {% endfor %}
            {# Pagination #}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/posts?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="/posts?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% else %}
            <h2 class="heading">No Posts Found</h2>
            <p>There aren't any live posts yet!</p>
        {% endif %}
    </div class="container">
{% endblock content %}
