{% load wagtailcore_tags %}
{% load peregrine %}

{% if show_posts %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Posts</a>
        <div class="dropdown-menu" aria-labelledby="dropdown-settings">
            {% for post in posts %}
                <a class="dropdown-item" href="{% pageurl post %}">{{ post.title }}</a>
            {% endfor %}
        </div>
    </li>
{% endif %}
